.particles-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1; /* Помещает его позади другого содержимого */
  overflow: hidden; /* Обрезает все частицы, выходящие за пределы контейнера */
}

/* Это необязательно, но может быть полезно для отладки */
.particles-container canvas {
    display: block; /* Удаляет нижний пробел, который иногда добавляется к холстам */
}